@use "../global" as *;

// 送信完了ページ用のスタイル
.p-contact__complete {
  padding-block: calc(88 * var(--to-rem)) calc(293 * var(--to-rem));
}


.p-contact__complete-title {
  margin-block-end: calc(40 * var(--to-rem));
}

.p-contact__complete-text {
  margin-block-start: calc(78 * var(--to-rem));
  color: var(--color-text);
  font-size: calc(15 * var(--to-rem));
  line-height: 2;
  text-align: center;

  @include mq(md) {
    font-size: calc(18 * var(--to-rem));
  }
}

.p-contact__complete-button {
  margin-block-start: calc(21 * var(--to-rem));
  display: flex;
  justify-content: center;

  .c-button {
    padding: calc(30 * var(--to-rem)) calc(175 * var(--to-rem));
  }
}
