@use "../global" as *;

.p-mv {
  padding-block-start: calc(111 * var(--to-rem));
}

.p-mv__inner {
  position: relative;
  overflow: hidden;
  max-width: calc(var(--inner-wider) + var(--padding-inner) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-inner);
}

.p-mv__video {
  display: block;
  width: 100%;
  height: calc(710 * var(--to-rem));
  object-fit: cover;
}

.p-mv__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-mv__logo {
  margin: 0;
  width: clamp(200px, 40%, 397px);
}

.p-mv__logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
