@use "../global" as *;

.p-service {
  padding-block-start: calc(64 * var(--to-rem));

  @include mq("md"){ 
    padding-block-start: calc(115 * var(--to-rem));
  }
}

.p-service__inner {
  max-width: calc(var(--inner-wider) + var(--padding-inner) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-inner);
  display: flex;
  flex-direction: column;
  gap: calc(40 * var(--to-rem));
}

.p-service__heading {
  .c-section-title {
    width: 100%;
    justify-items: stretch;

    &::after {
      display: none;
    }
  }

  .c-section-title__sub {
    display: flex;
    align-items: center;
    gap: calc(12 * var(--to-rem));
    white-space: nowrap;
  }
}

.p-service__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(20 * var(--to-rem));
  list-style: none;
  margin: 0;
  padding: 0;

  @include mq(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-service__item {
  overflow: hidden;
}

.p-service__link {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: var(--color-white);

  @media (any-hover: hover) {
    &:hover .p-service__image {
      transform: scale(1.05);
    }
  }
}

.p-service__image {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  transition: transform calc(var(--duration) * 2);
}

.p-service__content {
  position: absolute;
  inset-inline-start: calc(30 * var(--to-rem));
  inset-inline-end: calc(30 * var(--to-rem));
  inset-block-end: calc(24 * var(--to-rem));
  display: flex;
  flex-direction: column;
  gap: calc(4 * var(--to-rem));
}

.p-service__en {
  margin: 0;
  font-family: var(--title-font-family);
  font-size: clamp(1.25rem, -0.5rem + 5vw, 4rem);
  font-weight: var(--fw-regular);
  line-height: 1;
}

.p-service__ja {
  margin: 0;
  display: flex;
  align-items: center;
  gap: calc(10 * var(--to-rem));
  font-size: clamp(0.875rem, 0.655rem + 0.94vw, 1.5rem);
  white-space: nowrap;
  font-family: var(--mincho-font-family);

  .c-deco-line--sm {
    flex: 1;
    width: auto;
  }
}
