@use "../global" as *;

.p-welcome {
  padding-top: calc(64 * var(--to-rem));

  @include mq("md") {
    padding-top: calc(103 * var(--to-rem));
  }
}

.p-welcome__inner {
  max-width: 1384px;
  margin-inline: auto;
  padding-inline: var(--padding-inner);
}

.p-welcome__heading {
  margin-block-end: calc(32 * var(--to-rem));
  text-align: center;
}

.p-welcome__title {
  font-family: var(--title-font-family);
  font-size: calc(36 * var(--to-rem));
  font-weight: var(--fw-regular);
  color: var(--color-dark);
  line-height: 1;

  @include mq("md") {
    font-size: calc(64 * var(--to-rem));
  }
}

.p-welcome__subtitle {
  font-family: var(--mincho-font-family);
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(36 * var(--to-rem));
  color: var( --color-dark);
}

.p-welcome__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}

.p-welcome__grid-item img {
  aspect-ratio: 446 / 551;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.p-welcome__action {
  margin-top: calc(66 * var(--to-rem));
  text-align: center;
}

.p-welcom__notes {
  text-align: start;
  margin-top: calc(32 * var(--to-rem));
  color: var(--color-text);

  @include mq("md"){ 
  text-align: center;
  }
}
